/* tirar o padding default */
html{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
body{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}



/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif   ;
}
/*Cabeçalho*/
.header{
    display:flex;

    width: auto;
    background-color: #02055A;
    align-items: center;
    justify-content: space-between;
    padding:10px 25px 10px 25px;
}
/* título */
.titulo{
    font-size:2rem ;
    font-weight: 1000;
    color: #b0dbf1  ;
}
/* subtitulo */
h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #b0dbf1;
    color: #000137;
    justify-content: center;
    width: 6em;
    height: 2.5em;
    border-radius: 0.5em 0.5em 0.5em 0.5em
}
/*--- seção sobre ---*/
.about{
    display: flex;
    height: fit-content;
    width:auto;
    flex-flow: row wrap;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 5ch;
    padding:2em 0 2em 0;
    background-color: #000137;
}
.aboutme{
    display:flex;
    flex-flow: row wrap;
    max-width: 60vh;
    gap: 2ch;
    padding: 0 25px 0 25px
}
/* Parágrafo */
p{
    color: #b0dbf1;
}
/* limitar tamanho de imagem */
.about img{
    max-height: 50vw;
    border-radius: 100%;
}
/* -----seção listas--- */
.lists{   
    display: flex;
    flex-flow: row wrap;
    width: auto;
    height: auto;
    background-color: #02198B;
    padding:40px 5px 60px 5px;
    justify-content: center;
    align-items: center;
    gap: 5ch;
}
/* lista */
.list{
    display: flex;
    flex-flow: row wrap;
    gap: 1ch;
    align-items: center;
    justify-content: center;
}
/* item da lista */
.item{
    background-color: white;
    height: 100px;
    width: 80px;
    
}
.item img{
    max-width: 90px;
    max-height: 100px;
}
/* rodape */
footer{
    display: flex;
    background-color: #02055A;
    padding: 13px;
    height: 100%;
    gap: 20px;
    width: auto;
}

/* icones do rodape */
footer img{
    max-height: 25px;
}