/* Desktop - 1 */

position: relative;
width: 1440px;
height: 801px;

background: #FFFFFF;


/* Footer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 897px;

position: absolute;
height: 70px;
left: 0px;
right: 0px;
bottom: 0px;

background: #C4C4C4;


/* Redes Sociais */

width: 188px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* instagram */

position: absolute;
width: 32px;
height: 32px;
left: 96.5px;
top: 19px;

background: url(instagram.png);


/* linkedin */

position: absolute;
width: 32px;
height: 32px;
left: 148.5px;
top: 19px;

background: url(linkedin.png);


/* facebook */

position: absolute;
width: 32px;
height: 32px;
left: 200.5px;
top: 19px;

background: url(facebook);


/* gitlab */

position: absolute;
width: 32px;
height: 32px;
left: 252.5px;
top: 19px;

background: url(gitlab.png);


/* Contato */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 10px;

width: 162px;
height: 38px;

background: #DFDFDF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Entrar em contato */

width: 130px;
height: 22px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: flex-end;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Section lists */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 26px;

position: absolute;
width: 1440px;
height: 289px;
left: 0px;
top: 427px;



/* Hobbies */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding: 20px;
gap: 26px;

width: 595px;
height: 249px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subtítulo */

width: 98px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subtítulo */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;

color: #000000;



/* List */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 10px;

width: 555px;
height: 150px;

filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Card 5 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;

width: 102px;
height: 150px;

background: #DFDFDF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* hobbie 5 */

width: 66px;
height: 22px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Card 4 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;

width: 103px;
height: 150px;

background: #DFDFDF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* hobbie 4 */

width: 66px;
height: 22px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Card 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;

width: 103px;
height: 150px;

background: #DFDFDF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* hobbie 3 */

width: 65px;
height: 22px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Card 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;

width: 103px;
height: 150px;

background: #DFDFDF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* hobbie 2 */

width: 66px;
height: 22px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Card 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;

width: 104px;
height: 150px;

background: #DFDFDF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 5px;
gap: 10px;

width: 126px;
height: 134px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* hobbie 1 */

width: 61px;
height: 22px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 20px;
gap: 26px;

width: 596px;
height: 249px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Subtítulo */

width: 98px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subtítulo */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;

color: #000000;



/* List */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 10px;

width: 556px;
height: 150px;

filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Card 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;

width: 104px;
height: 150px;

background: #DFDFDF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 5px;
gap: 10px;

width: 101px;
height: 101px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 2 */

width: 19px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 1 */

position: absolute;
width: 19px;
height: 44px;
left: 5px;
top: 0px;

background: #C4C4C4;
border-radius: 0px 0px 5px 5px;


/* 1 */

position: absolute;
width: 6px;
height: 22px;
left: 12px;
top: 11px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;



/* top 1 */

width: 35px;
height: 22px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Card 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;

width: 103px;
height: 150px;

background: #DFDFDF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 5px;
gap: 10px;

width: 101px;
height: 101px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 2 */

width: 19px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 1 */

position: absolute;
width: 19px;
height: 44px;
left: 5px;
top: 0px;

background: #C4C4C4;
border-radius: 0px 0px 5px 5px;


/* 2 */

position: absolute;
width: 11px;
height: 22px;
left: 9.5px;
top: 11px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;



/* top 2 */

width: 39px;
height: 22px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Card 3 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;

width: 102px;
height: 150px;

background: #DFDFDF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 5px;
gap: 10px;

width: 101px;
height: 101px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 2 */

width: 19px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 1 */

position: absolute;
width: 19px;
height: 44px;
left: 5px;
top: 0px;

background: #C4C4C4;
border-radius: 0px 0px 5px 5px;


/* 3 */

position: absolute;
width: 11px;
height: 22px;
left: 9px;
top: 11px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;



/* top 3 */

width: 39px;
height: 22px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Card 4 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;

width: 103px;
height: 150px;

background: #DFDFDF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* top 4 */

width: 39px;
height: 22px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Card 5 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 17px;
gap: 10px;

width: 104px;
height: 150px;

background: #DFDFDF;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* top 5 */

width: 39px;
height: 22px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Section about */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 32px;
gap: 125px;

position: absolute;
width: 1440px;
height: 318px;
left: 0px;
top: 109px;

background: #F3F3F3;


/* Foto */

width: 247px;
height: 247px;

background: url(image.png);
filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 1 */

width: 614px;
height: 186px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Subtítulo */

position: absolute;
width: 95.51px;
height: 36.28px;
left: 599px;
top: 66px;



/* Subtítulo */

position: absolute;
left: 0%;
right: -2.61%;
top: 0%;
bottom: 9.05%;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;

color: #000000;



/* Parágrafo */

position: absolute;
width: 614px;
height: 134.14px;
left: 599px;
top: 117.86px;



/* Parágrafo */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 10.54%;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

color: #000000;



/* Header */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 28px 30px;
gap: 880px;

position: absolute;
width: 1440px;
height: 109px;
left: calc(50% - 1440px/2);
top: 0px;

background: #C4C4C4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Título */

width: 105px;
height: 53px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Título */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 55px;

color: #000000;



/* Links */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 225px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 16px;
gap: 10px;

width: 75px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 43px;
height: 33px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 16px;
gap: 10px;

width: 75px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

width: 43px;
height: 33px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 16px;
gap: 10px;

width: 75px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Link */

width: 43px;
height: 33px;

font-family: 'Alata';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
